{% load widget_tweaks %}

<div class="card mb-4">
  <div class="card-body">

    <form method="get">
      {% include "includes/form_field.html" with field=filter.form.status type="select"%}
      {% include "includes/form_field.html" with field=filter.form.executor type="select"%}
      {% include "includes/form_field.html" with field=filter.form.labels type="select"%}
      {% include "includes/form_field.html" with field=filter.form.self_tasks type="checkbox"%}
      <button class="btn btn-primary">Показать</button>
    </form>

  </div>
</div>