{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="display-5 mb-4">{% block title %}Регистрация{% endblock %}</h1>

  <form method="post">
    {% csrf_token %}

    <!-- Общие ошибки -->
    {% if form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible fade show">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    {% include "includes/form_field.html" with field=form.first_name type="input"%}
    {% include "includes/form_field.html" with field=form.last_name type="input"%}
    {% include "includes/form_field.html" with field=form.username type="input"%}
    {% include "includes/form_field.html" with field=form.password1 type="password"%}
    {% include "includes/form_field.html" with field=form.password2 type="password"%}

    <button type="submit" class="btn btn-primary">
      Зарегистрировать
    </button>
  </form>
</div>
{% endblock %}